/* DESKTOP FIRST */
.services-container-section {
    align-items: flex-start;
}

/* coordonnees */
.coordonnees {
    width: 350PX;
}

.coordonnees-title h2 {
    text-transform: uppercase;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Playpen Sans', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.coordonnees-title p em {
    text-transform: capitalize;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Playpen Sans', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}


.coordonnees-title p :not(em) {
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Playpen Sans', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
}

.coordonnees-title p>* {
    display: block;
}

/* END coordonnees */

/* formulaire de contact */
.formaulaire-contact {
    width: 450px;
}

.formaulaire-contact h2 {
    text-transform: uppercase;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Playpen Sans', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    color: var(--main-color);
}

.formaulaire-contact form {
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Playpen Sans', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.5rem;
}

form fieldset legend {
    background-color: var(--main-color);
    color: var(--main-color-white);
    padding: 2px 5px;
}

form fieldset:first-child {
    height: 200px;
    border: 1px solid var(--main-color-gray);
}

form fieldset:first-child input {
    margin: 5px auto;
    height: 30px;
    outline: none;
    border: 1px solid var(--main-color);
}

form fieldset:nth-child(2) {
    border: 1px solid var(--main-color-gray);
    width: 420px;
}

form fieldset:nth-child(2) button {
    background-color: var(--main-color);
    padding: 2px 15px;
    border-radius: 5px;
    border: none;
    color: var(--main-color-white);
}

form fieldset:nth-child(2) button:hover {
    background-color: var(--main-color-gold);

}

/* end formulaire de contact */
/* END DESKTOP FIRST */

/* MEDIA */
/* modification dimenssion des formulaire */
@media screen and (max-width: 576px) {
    form fieldset:first-child {
        width: 200px;
    }

    form fieldset:nth-child(2) {
        width: 300px;
    }

    .formaulaire-contact {
        width: 350px;
    }
}

@media screen and (max-width: 427px) {
    .services-container-section {
        font-size: 1rem;
    }
}

/* END MEDIA */